/* TYPEFACES */

@font-face {
  font-family:"Century-Expanded-Regular";
  src: local("fonts/century-expanded-regular.otf"), 
  url("../fonts/century-expanded-regular.otf");
}

@font-face {
  font-family:"Century-Expanded-Italic";
  src: local("fonts/century-expanded-italic.otf"),
  url("../fonts/century-expanded-italic.otf");
}

@font-face {
  font-family: "Century-Expanded-Bold";
  src: local("fonts/century-expanded-bold.otf"),
  url("../fonts/century-expanded-bold.otf");
}


/*  */

@page {
  size: 8.5in 11in;
  break-inside: avoid;
  margin: 0.25in;

  /* @footnote {
    float:bottom;
  } */
}

address > span {
  display: block;
  font-family: Century-Expanded-Regular;
  font-style: normal;
}


/* SIDENOTE / MARGIN NOTE */

.annotated {
  width:68%;
}

aside, .sidenote {
  display: inline;
  float:right;
  position:relative;
  width:30%;
  margin-right:-32%;
  font-size:9pt
}

b, strong {
  font-family: Century-Expanded-Bold;
}

body {
  font-family: Century-Expanded-Regular;
}

#dateline1 {
  font-variant: small-caps;
}

.footnote {
  float:footnote;
}

::footnote-call {
  font-size:8pt;
  vertical-align:super;
}

::footnote-marker {
  font-size: 8pt;
  vertical-align: super;
}

i {
  font-family: Century-Expanded-Italic;
}

p {
  padding-left: 0.25in;
  margin-right: 0.25in;
  margin-top: 0.25in;
  margin-bottom: 0.25in; 
}

sup {
  font-size: 9pt;
}

